<form class="form" (ngSubmit)="onSubmit()">
  <input type="text" name="title" [(ngModel)]="naziv" placeholder="Dodaj Naziv">
  <input type="text" name="title" [(ngModel)]="skracenica" placeholder="Dodaj Skracenicu">
  <input type="submit" value="Submit" class="btn">
</form>
